<div style="height: calc(50px + 5vw);" class="blank columns"></div>
<div class="columns is-centered">
  <div class="column is-7">
    <%= image_tag "contact.svg" %>
  </div>
</div>
<div style="height: calc(50px + 5vw);" class="blank columns"></div>