/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require pace/silver/pace-theme-corner-indicator
*/

@import "branding";
@import "bulma";


body, html {
  font-family: "Avenir";
  background-color: rgb(204, 202, 195);
  height: 100%;
  // padding-bottom: calc(4vw);
}


.portfolio {
  background-color: $white-color;
  padding: 0px;
  box-shadow: 0px 0px 7px 2px $black-color;
  margin-bottom: calc(10vw);
}

// set color of background
.nav {
  padding: calc(20px + 3vw) calc(20px + 3vw);
  background-color: rgb(204, 202, 195);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vw;
  img {
    height: 3vw;
    width: auto;
    min-height: 25px;
    margin: 0px;
  }
  
  my-link {
    color: $black-color !important;
  }
  
  my-link:hover {
    color: $red-color !important;
    transform: scale(1.1)
  }

  .nav-toggle {
    transform: scale(1.5)
  }
  
  .nav-right {
    max-width: 35%;
    min-width: 350px;
    display: flex;
    justify-content: space-around;
    font-size: calc(14px + 1vw);
    color: $red-color;
    font-weight: bolder;
    
    a {
      color: $black-color;
    }
    
    a:hover {
      color: $red-color;
      transform: scale(1.1)
    }
    
    
  }
}

.black-bg {
  background-color: $black-color;
}

.is-red {
  color: $red-color;
}